body {
	margin: auto;
	overflow: hidden;
	font-family: Monospace;
	text-align: center;
	--background-color: #101010;
	--acsent-color: #DC7FA6;
	--darker-acsent-color: #101010;
	--font-color: #eee;
}
section {
    margin-bottom: 8%;
}
#data {
  display: flex;
  align-items: center;
  justify-content: center;
}
#debug {
  display: block;
  align-items: center;
}

#title {
  text-align: center;
	font-size: 2.8em;
	background: -webkit-linear-gradient(45deg, #B8336A, #ACACDE);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin: 2%;
	position: flex;
	font-family: arial;
}


#time-display-hour, #time-display-min, #time-display-sec   {
  text-align: center;
	font-size: 4em;
	background: -webkit-linear-gradient(45deg, #B8336A, #ACACDE);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin: 2%;
	position: flex;
	font-family: arial;
}

#btn-settings {
  text-align: center;
	font-size: 2em;
	margin: 10%;
	position: flex;
}

p {
	text-align: center;
	margin: auto;
}
a {
	transition: 500ms;
	color: var(--font-color);
	padding: 1%;
}
a:hover {color: var(--acsent-color);}

.top {
	background: var(--background-color);
	color: var(--font-color);
	border: 2px solid var(--font-color);
	border-radius: 9px;
	font-family: Monospace;
}
.acsent {color: var(--acsent-color);}
.dacsent {color: var(--darker-acsent-color);}

